<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programacion3.pixies.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Andy&apos;s Móvil"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Activities.MainActivity" />
        <activity android:name=".UI.Activities.PresupuestoActivity"/>
        <activity android:name=".UI.Activities.CarritoActivity"/>
        <activity android:name=".UI.Activities.BienvenidosActivity"/>
        <activity android:name=".UI.Activities.ConfiguracionActivity"/>
        <activity android:name=".UI.Activities.ProductosActivity"/>
        <activity android:name=".UI.Activities.DrawerActivity" />
        <activity android:name=".UI.Activities.PerfilActivity" />
        <activity android:name=".UI.Activities.RegisterActivity" />
        <activity android:name=".UI.Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>